
.wrapper{
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    line-height: 1.5;
    font-weight: 700;
    color: #fff;
    font-size: 16px;
    font-family: Roboto;
}
.button{
    transition: all .3s;
    &:hover{
        transform: translateY(-5%);
    }
}
.title{
    text-align: center;
    font-size: 38px;
    font-weight: 700;
    margin-bottom: 48px;
    color: #fff;
}

.subtitle{
    font-size: 30px;
    font-weight: 400;
}
.container{
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
}
p{
    font-size: 16px;
    font-weight: 400;
}
a{
    display: block;
}

%darkp{
    color:  $darkgray ;
    font-size: 16px;
    font-weight: 400;
}

@media(max-width:420px){
    .title{
        font-size: 18px;
    }
}